<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd"
>

    <!--1.指定数据源-->
    <context:property-placeholder location="classpath:db.properties"></context:property-placeholder>
    <bean id="db" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="${uname}"></property>
        <property name="password" value="${password}"></property>
        <property name="driverClassName" value="${driver}"></property>
        <property name="url" value="${url}"></property>
    </bean>

    <!--2.创建sqlsessionFactoryBean-->
    <bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="db"></property>
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
        <property name="configLocation" value="classpath:mybatis.xml"></property>
    </bean>

    <!--3.省略dao层实现类的写法-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="factory"></property>
    </bean>
    <!--3.创建sqlSessionTemplate对象-->
    <bean class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg  index="0" ref="factory"></constructor-arg>
    </bean>

    <!--4.指定扫描的包-->
        <context:component-scan base-package="com"></context:component-scan>

    <!--5.视图解析器-->
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
       <property name="prefix" value="/"></property>
       <property name="suffix" value=".jsp"></property>
   </bean>

    <!--6.启用springmvc的注解-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--7.配置静态资源路径-->
    <mvc:resources mapping="/**" location="/"></mvc:resources>
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!--8.配置事务-->
    <bean id="tx" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="db"></property>
    </bean>
    <!--9.开启事务注解-->
    <tx:annotation-driven transaction-manager="tx"></tx:annotation-driven>

    <!--<jaxws:client id="phoneDao" serviceClass="cn.com.webxml.MobileCodeWSSoap"-->
                  <!--address="http://ws.webxml.com.cn/WebServices/MobileCodeWS.asmx?wsdl">-->

    <!--</jaxws:client>-->


    <!--文件上传-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
          p:maxUploadSize="9999999" p:defaultEncoding="Utf-8">
    </bean>


    <!-- 4.1  spring负责创建流程引擎的配置文件 -->

    <bean
            id="processEngineConfiguration"
            class="org.activiti.spring.SpringProcessEngineConfiguration">
        <!-- 数据源 -->
        <property name="dataSource" ref="db" />
        <!-- 配置事务管理器，统一事务 -->
        <property name="transactionManager" ref="tx" />
        <!-- 设置建表策略，如果没有表，自动创建表 -->
        <property name="databaseSchemaUpdate" value="true" />
    </bean>
    <!-- 4.2  创建流程引擎对象 -->
    <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>

    <!--  4.3  由流程引擎对象，提供的方法，创建项目中使用的Activiti工作流的Service -->
    <bean id="repositoryService"
          factory-bean="processEngine" factory-method="getRepositoryService" />
    <bean id="runtimeService" factory-bean="processEngine"
          factory-method="getRuntimeService" />
    <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
    <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService" />
    </beans>