<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.StuCourseMapper">
  <resultMap id="BaseResultMap" type="com.bean.StuCourse">
    <id column="stuId" jdbcType="INTEGER" property="stuid" />
    <id column="cId" jdbcType="INTEGER" property="cid" />
    <result column="ps" jdbcType="VARCHAR" property="ps" />
    <result column="other2" jdbcType="VARCHAR" property="other2" />
  </resultMap>
  <sql id="Base_Column_List">
    stuId, cId, ps, other2
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.bean.StuCourseKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from stu_course
    where stuId = #{stuid,jdbcType=INTEGER}
      and cId = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.bean.StuCourseKey">
    delete from stu_course
    where stuId = #{stuid,jdbcType=INTEGER}
      and cId = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bean.StuCourse">
    insert into stu_course (stuId, cId, ps, 
      other2)
    values (#{stuid,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{ps,jdbcType=VARCHAR}, 
      #{other2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bean.StuCourse">
    insert into stu_course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuid != null">
        stuId,
      </if>
      <if test="cid != null">
        cId,
      </if>
      <if test="ps != null">
        ps,
      </if>
      <if test="other2 != null">
        other2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuid != null">
        #{stuid,jdbcType=INTEGER},
      </if>
      <if test="cid != null">
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="ps != null">
        #{ps,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null">
        #{other2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.StuCourse">
    update stu_course
    <set>
      <if test="ps != null">
        ps = #{ps,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null">
        other2 = #{other2,jdbcType=VARCHAR},
      </if>
    </set>
    where stuId = #{stuid,jdbcType=INTEGER}
      and cId = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.StuCourse">
    update stu_course
    set ps = #{ps,jdbcType=VARCHAR},
      other2 = #{other2,jdbcType=VARCHAR}
    where stuId = #{stuid,jdbcType=INTEGER}
      and cId = #{cid,jdbcType=INTEGER}
  </update>
</mapper>